In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\burns\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
# Visit Mars News Site
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [5]:
type(soup)

bs4.BeautifulSoup

In [6]:
# get latest News Title and Paragraph text

#latest news title
news_title = soup.find('div', class_='content_title').text
news_title

"What's Mars Solar Conjunction, and Why Does It Matter?"

In [7]:
#scrape paragraph text

par_text= soup.find('div', class_='article_teaser_body').text
par_text

'NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.'

In [8]:
#return results

# Store data in a dictionary
mars_data = {
    "news_title": news_title,
    "par_text": par_text
}

In [9]:
# Close the browser after scraping
browser.quit()

In [10]:
# Return results
# return mars_data

JPL Mars Space Images

In [11]:
# Set up Splinter again
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\burns\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [12]:
# Visit JPL Space Image Site
url_jpl = "https://spaceimages-mars.com/"
browser.visit(url_jpl)

In [13]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [14]:
type(soup)

bs4.BeautifulSoup

In [15]:
relative_image_path = soup.find_all('img')[1]['src']
# relative_image_path

featured_image_url = url_jpl + relative_image_path
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [16]:
# Close the browser after scraping
browser.quit()

Mars Facts

In [17]:
# Set up Splinter again
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\burns\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [18]:
# Visit JPL Space Image Site
url_mars_facts = "https://galaxyfacts-mars.com/"
browser.visit(url_mars_facts)

In [19]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [20]:
type(soup)

bs4.BeautifulSoup

In [21]:
tables = pd.read_html(url_mars_facts)
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [22]:
mars_df= tables[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [23]:
new_header = mars_df.iloc[0] #grab the first row for the header
mars_df = mars_df[1:] #take the data less the header row
mars_df.columns = new_header #set the header row as the df header
mars_df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [24]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
mars_html_table= html_table.replace('\n', '')
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [26]:
# Close the browser after scraping
browser.quit()

Mars Hemisphere

In [150]:
# Set up Splinter again
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\burns\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [151]:
# Visit JPL Space Image Site
url_hemispheres = "https://marshemispheres.com/"
browser.visit(url_hemispheres)

In [152]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [153]:
type(soup)

bs4.BeautifulSoup

In [154]:
#get the titles

title_list= soup.find_all('h3')
title_list

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>,
 <h3>Back</h3>]

In [155]:
title_1= title_list[0].text
title_1

'Cerberus Hemisphere Enhanced'

In [156]:
title_2= title_list[1].text
title_2

'Schiaparelli Hemisphere Enhanced'

In [157]:
title_3= title_list[2].text
title_3

'Syrtis Major Hemisphere Enhanced'

In [158]:
title_4= title_list[3].text
title_4

'Valles Marineris Hemisphere Enhanced'

In [159]:
# # Grab images

# relative_path_1 = soup.find_all(class_='itemLink')
relative_path_1 = soup.find_all('div', class_='description')

relative_path_1[0]

# # featured_image_url = url_jpl + relative_image_path
# # featured_image_url

# image_url_1 = url_hemispheres + relative_path_1

<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>

In [160]:
hemisphere_image_urls = [
    {"title": title_1, "img_url": []},
    {"title": title_2, "img_url": []},
    {"title": title_3, "img_url": []},
    {"title": title_4, "img_url": []},
]

count=0

for x, index in enumerate(relative_path_1):
    
    
#     if x == 0:
#         browser.click_link_by_partial_href('cerberus.html')
        
#     if x == 1:
#         browser.click_link_by_partial_href('schiaparelli.html')
        
#     if x == 2:
#         browser.click_link_by_partial_href('syrtis.html')
        
#     if x == 3:
#         browser.click_link_by_partial_href('valles.html')

    
    browser.click_link_by_partial_text('Enhanced')
    
    
    browser.click_link_by_id('wide-image-toggle')
    
    image_path = soup.find_all('img')[(count+3)]['src']

    
#     image_path = browser.find_by_css('li')[1]['href']
    
#     image_path = soup.find_all(class_='wide-image')[0]['src']
    
    image_url_1 = url_hemispheres + image_path

#     hemisphere_image_urls[count]["img_url"].append(image_url_1)
    hemisphere_image_urls[count]["img_url"]= image_url_1

    
    browser.back()
    
    
    count=count+1
    
    
print(hemisphere_image_urls)

C:\Users\burns\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [163]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]